body {
    color: black;
    background-color: white;
}

.menu li {
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
}
.menu a:hover {
    color:orange;
}
h1 {
    text-align: center;
}

a {
    text-decoration-color: black;
    text-decoration: none;
}

.style-h {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.style-p-k {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.style-p-p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.style-product-list {
    color: #121948;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    list-style: url("../style/chick.png");
}

.form-contacts {
    width: 300px;
    height: 150px;

}

.form-contacts-name {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 24px;
    width: 120px;
    color: #cccccc;
    font-size: 15px;
    font-family: Tahoma;
    text-transform: capitalize;

}

.form-contacts-email {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: white !important;
    outline: none;
    height: 24px;
    width: 120px;
    color: black;
    font-size: 15px;
    font-family: Tahoma;
    text-transform: capitalize;
}
.form-contacts-email:focus {
    background-color: yellow;
}

.form-contacts-theme {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 24px;
    width: 120px;
    color: #cccccc;
    font-size: 20px;
    font-family: Tahoma;
    text-transform: capitalize;
}

.img-product1 {
    height: 500px;
    border-style: solid;
    border-color: white;
    border-width: 2px;

}

.style-footer {
    text-align: center;
}
